label.form-error, span.form-error {    
    color: #d9534f;
}

.form-error {    
    border-color: #d9534f;

}




.poster {    
    width: 230px;    
    z-index: 5;        
    min-width: 230px;
    min-height: 100px;
    text-align: center;
}

.poster:hover {    
    /*opacity: 0.85;*/
}

.movtitle {

    font-size: xx-large; 
    width: auto;    
    position: relative; 
    margin-top: 25px;
}

.descposter {
    width: 300px;
    height: auto;
    float: left;    
    margin-right: 10px;
}

.descdesc {
    clear:both;
    padding: 5px 10px;

}

.desctext {    
    padding: 5px 10px;


}

.rating {
    position: relative;
    top: 75px;
    font-size: x-large;
    z-index: 10;        
    width:fit-content;
}

.icon-favorite{
/*       color: #d9534f;  */
}

.label-white {
  background-color: white;
}

.favorite {
    position: relative;
    top: 85px;    
    font-size: x-large;
    z-index: 10;  
    margin-right: auto;
    width:fit-content;
}



.icon-love {     
    color: #d9534f;  
}

.icon-love:hover {     
    /*color: white;*/
    content: "\e056";
}

.btn-poster {
    width: 103px;
}

.epiepisode {
    float:left;
    width:15px;
    height:auto;
    font-size: xx-large;
    padding: 0px;

    position: relative;
    left: -30px;
}

.episeason {
    float:left; 
    background-color: #f0ad4e; 
    font-size: xx-large; 
    width: auto; 
    padding-left: 5px; 
    padding-right: 5px; 
    left: -25px; 
    position: relative; 
}

.episeries {
    float:left;     
    font-size: xx-large; 
    width: auto;     
    left: -40px; 
    position: relative; 
}

.epiback {
    font-size: medium;
}

.epiposter-img {
    width:100px;
    /*height: auto;*/
    float:left; 
    margin-right: 15px;    
}

.epiposter {
    width:100px;
    /*height: auto;*/
    float:left; 
    margin-right: 15px;
    margin-bottom: 15px;
}



.btn-episode {
    width:100px;
}

